@media screen and (max-width: 1225px) {
    section.portfolio .flex {
        gap: 20px;
    }
}

@media screen and (max-width: 1020px) {
    /* GERAL */
    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 32px;
        line-height: 30px;
    }

    /* HEADER */
    .menu-desktop, .btn-contato {
        display: none;
    }


    .btn-abrir-menu i {
        display: block;
    }

    /* TOPO */
    section.topo-do-site {
        padding: 20px 8%;
    }

    section.topo-do-site .flex {
        gap: 50px; 
    }

    .topo-do-site .img-topo img,
    .img-topo .img-background  {
        width: 327px;
    }

    .topo-do-site .img-topo img {
        width: 100%;
    }

    .topo-do-site h1 {
        font-size: 30px;
        line-height: 35px;
    }

    /* ESPECIALIDADES */
    section.especialidades {
        padding: 100px 8%;
    }

    .box-especialidades {
        text-align: center;
    }    
    
    /* SOBRE */
    section.sobre {
        padding: 120px 8%;
    }

    section.sobre .flex {
        flex-direction: column-reverse;
    }

    .sobre .img-sobre img {
        width: 100%;
        max-width: 395px;
        border-radius: 20px;
    }

    .sobre .txt-sobre h2 {
        font-size: 32px;
        line-height: 34px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    /* PROJETOS */
    section.portfolio {
        padding: 100px 8%;
    }

    section.portfolio .flex {
        gap: 60px;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    /* HABILIDADES */
    section.habilidades {
        padding: 100px 8%;
    }

    section.habilidades .flex {
        align-items: center;
    }

    .habilidades-box {
        width: 100%;
        max-width: 600px;
    }

    /* FORMULARIO */
    section.formulario {
        padding: 100px 8%;
    }

    /* FOOTER */
    footer {
        padding: 60px 8%;
    }

    footer .flex {
        gap: 15px;
    }

    footer .logo p {
        font-weight: 400;
    }

    footer .logo span {
        text-shadow: 1px 1px #000;
    }
}